@tailwind base;
@tailwind components;

.btn {
  @apply text-white bg-[#8a4af3] rounded-md shadow-md cursor-pointer hover:bg-blue-500 py-4 px-6 duration-100 font-medium;
}

@tailwind utilities;

@media (max-width: 420px) {
  .navbar .cart {
    display: flex;
    position: absolute;
    top: 110%;
    right: 50px;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: white;
    background: gray;
  }
  .navbar .cart:hover {
    color: #6200ea;
    background: #8A4AF3;
  }
}
